<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superadmin Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Superadmin Login</h2>
        <form method="POST" action="{{ url_for('superadmin.superadmin_login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Username</label>
                {{ form.email(class="form-control", placeholder="Enter your email") }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password(class="form-control", placeholder="Enter your password") }}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-danger mt-3">
                        {% for category, message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </form>
    </div>
</body>
</html>
